[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "MeddySDK"]
	path = MeddySDK
	url = https://github.com/ChristianHinkle/MeddySDK
[submodule "MeddyCLI"]
	path = MeddyCLI
	url = https://github.com/ChristianHinkle/MeddyCLI
[submodule "CppUtils"]
	path = CppUtils
	url = https://github.com/ChristianHinkle/CppUtils
[submodule "GeneralCMakePresets"]
	path = GeneralCMakePresets
	url = https://github.com/ChristianHinkle/GeneralCMakePresets
